* {
    font-family: calibri light;
}

html {
    background-color: rgb(139, 119, 142);
}

.container {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 30px;
}

input {
    border-radius: 10px;
    border: dotted;
}

input[type='text'] {
    padding-left: 1rem;
}

input[type='submit'] {
    border: 3px solid lightblue;
}

input[type='checkbox'] {
  justify-self: center;
  align-self: center;
  width: 4rem;
}

button {
    border-radius: 10px;
    border: 3px solid lightblue;
}

ol {
  list-style-type: none;
  min-width: 500px;
  width: 50%;
}

ol li {
  counter-increment: step-counter;
  position: relative;
  margin: 10px 0 0 0;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
}

li::before {
  content: counter(step-counter);
  position: absolute;
  left: -32px;
  top: 0.3rem;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 15px;
}

li span {
  padding: 0.3rem 2rem;
  border-radius: 15px;
  background-color: rgb(167, 79, 138);
  color: white;
  word-wrap: break-word;
  word-break: break-all;
}

.changed-text-input {
  margin: 1rem 0;
  padding: 0.3rem 2rem !important;
}

.changed-text-input + button {
  grid-column: 2 / span 2;
  margin: 1rem 0 1rem 4rem;
}